body {
    background-color:  darken(@color-concrete, 5%);
}

@text-color:        white;
@headings-color:    white;

.text-muted {
    color: @gray;
}

#wrapwrap {
    background-color: fade(black, 20%);
    }

/* oe_structure */
.oe_structure.oe_empty:empty:before, [data-oe-type=html]:empty:before {
    color: white;
}