/* GRAYS --------------------------------------------------------- */
/* Adjust to vary the intensity of texts ans headings ------------ */

@gray-darker:            lighten(#000, 30%);
@gray-dark:              lighten(#000, 40%);
@gray:                   lighten(#000, 55%);
@gray-light:             lighten(#000, 70%);
@gray-lighter:           lighten(#000, 80%);

/* COLORS --------------------------------------------------------- */

@color-alpha:   @color-purple;
@color-beta:    @color-purple-dark;
@color-gamma:   @color-twilight;
@color-delta:   @color-midnight;
@color-epsilon: @color-red-dark;

/* COLORED TEXT --------------------------------------------------- */

.text-alpha {
    color: @color-silver !important;
}
.text-beta {
    color: @color-purple !important;
}
.text-gamma {
    color: @color-purple-dark !important;
}
.text-delta {
    color: @color-twilight !important;
}
.text-epsilon {
    color: @color-midnight !important;
}

/* COLORED BG -------------------------------------------------------- */

.bg-alpha {
    .bg-silver;
}
.bg-beta {
    .bg-purple;
}
.bg-gamma {
    .bg-purple-dark;
}
.bg-delta {
    .bg-twilight;
}
.bg-epsilon {
    .bg-midnight;
}

/* TEXTS & LINKS --------------------------------------------------- */

@text-muted:        @color-alpha;
@link-color:        @color-alpha;
@link-hover-color:  @color-beta;

/* BUTTONS --------------------------------------------------------- */

@btn-primary-bg:                 @color-silver;
@btn-success-bg:                 @color-concrete;
@btn-info-bg:                    @color-purple;
@btn-warning-bg:                 @color-purple-light;
@btn-danger-bg:                  @color-red;

.btn .fa {
    color: white;}

.btn-default .fa {
    color: @gray-dark;}

/* rgba(0, 0, 0, 0) BG --------------------------------------------------- */
/* Used in snippets Prx Image Color and Prx Image Shade ------------- */

.bg-rgba(0, 0, 0, 0)-color         { background-color: @color-twilight; opacity: 0.85;}

/* Navbar ----------------------------------------------------------- */

@navbar-default-bg:                     darken(@color-purple-dark, 15%);
@navbar-default-link-color:             white;
@navbar-default-link-hover-color:       @gray-light;

@navbar-default-link-active-color:      white;
@navbar-default-link-active-bg:         @color-purple-dark;

// Main Menu

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link.active {
    color: #fff;
}

body.o_connected_user .navbar-fixed-top {
    padding-top: 35px !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: darken(@color-purple-dark, 10%);
    border: 0px;
    border-radius: 0px;
}

// Custom Navigation Bar

.navbar-custom {
    background-color: @color-purple-dark;
    border-color: transparent;
    z-index: 1000;
    .navbar-brand {
        color: @color-purple-dark;
        //.script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken(@color-purple-dark, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade(white, 2%);
    }
    .navbar-toggle {
        background-color: @color-purple-dark;
        border-color: @color-purple-dark;
        .heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: @color-purple-dark;
        }
    }
    .nav {
        li {
            a {
                //.heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: @color-purple-dark;
                &:hover,
                &:focus {
                    color: white;
                    outline: none;
                    background-color: @color-purple-dark;
                    border-radius: 0px;
                }
            }
            .active>a {
                background-color: @color-purple-dark;
            }
        }
    }
    .navbar-nav {
        background-color: darken(@color-purple-dark, 10%);
        border-radius: 0px;
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: @color-purple-dark;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken(@color-purple-dark, 10%);
    }
    .navbar-nav>.open>a:focus {
        background-color: @color-purple-dark;
    }
}

.navbar-custom .nav li .active > a {
    background-color: @color-purple-dark;
    color: white;
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 0px;
        }
    }
}



// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: darken(@color-purple-dark, 20%);
        padding: 10px 0;
        .navbar-nav {
        background-color: transparent;
        }
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

// Navbar logo

@media(min-width:768px) {
    .navbar-custom.affix-top {
        padding: 10px 0;
        .navbar-brand.logo img {
            max-height: 3.5em;
        }
    }
}

/* Footer ----------------------------------------------------------- */

#wrapwrap footer {
   background-color: darken(@color-purple-dark, 20%);
   color: white;
}

footer .container .pull-left {
    color: @color-clouds;
}
footer ul li a {
    color: @color-silver;
}

footer ul li a:hover {
    color: @color-clouds;
    text-decoration: none;
}
footer h4 {
    color: darken(@color-purple-dark, 20%);
    padding-bottom: 12px;
    text-transform: uppercase;
}
footer .fa {
    color: darken(@color-purple-dark, 20%);
}