/*::::::::::::::::::::::::::::::::::::
   Pesquisa Parceiro 
::::::::::::::::::::::::::::::::::::*/
#partner_left .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::-ms-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::-moz-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::placeholder {
    color: #8c8c8c;
}

#partner_left .form-control.selectpicker {
    color: #8c8c8c;
}

#partner_left .form-control {
    color: #8c8c8c;
}
/*::::::::::::::::::::::::::::::::::::
   Registo 
::::::::::::::::::::::::::::::::::::*/

#registo .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::-ms-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::-moz-placeholder {
    color: #8c8c8c;
}

#registo .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::placeholder {
    color: #8c8c8c;
}

#registo .form-control.selectpicker {
    color: #8c8c8c;
}

#registo .form-control {
    color: #8c8c8c;
}

.process-step .btn:focus{outline:none}
.process{display:table;width:100%;position:relative}
.process-row{display:table-row}
.process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
.process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-order:0}
.process-step{display:table-cell;text-align:center;position:relative}
.process-step p{margin-top:4px}
.btn-circle{width:70px;height:70px;text-align:center;font-size:12px;border-radius:50%}

#wrapwrap .s_team_profile_box {
    position: relative;
}

#wrapwrap .s_team_profile_box img {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0);
    max-height: 9.5em;
    max-width: 9.5em;
    background-color: white;
}

.s_team_profile_box .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.s_team_profile_box:hover .overlay {
  opacity: 1;
}

.s_team_profile_box .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}