/*::::::::::::::::::::::::::::::::::::
   Contact Area 
::::::::::::::::::::::::::::::::::::*/
.contact-form {
	padding: 60px;
	box-shadow: 0 0 10px #ccc;
	.form-control {
		background-color: #f8f9fa;
		font-size: 14px;
		padding: 10px;
		border: none;
		border-radius: 0;
		&:active {
			box-shadow: 0 0 0;
			background-color: #f8f9fa;
		}
	}
	textarea.form-control {
		height: 140px;
	}
}
input {
	&:-webkit-autofill {
		background-color: #f8f9fa;
		border: none;
	}
}
.form-control {
	&::-webkit-input-placeholder {
		color: #fff;
		color: #fff;
	}
	&:-ms-input-placeholder {
		color: #fff;
		color: #fff;
	}
	&::-ms-input-placeholder {
		color: #fff;
	}
	&::-moz-placeholder {
		color: #fff;
	}
	&::placeholder {
		color: #fff;
	}
	&:focus {
		box-shadow: none;
		color: #000;
		background-color: #fff;
		border-color: #000;
		outline: 0;
	}
}
.form-btn {
	.button {
		margin: 0;
		border: none;
		background-color: #000;
		color: #fff;
		cursor: pointer;
		-webkit-transition: .3S;
		transition: .3S;
		&:hover {
			color: #000;
			background-color: #f3ac12;
		}
	}
}
.form-message {
	margin-top: 15px;
	font-weight: 700;
}
.form-message.error {
	color: #f00;
}
.form-message.success {
	color: #000;
}
/*:::::::::::::::::::::::::::::::::::
        Login Area
:::::::::::::::::::::::::::::::::::*/
.form-control {
	display: block;
	width: 100%;
	padding: 10px 20px;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	background-color: transparent;
	background-clip: padding-box;
	border: 2px solid #fff;
	border-radius: 0;
	height: 40px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.oe_login_buttons {
	.button {
		background-color: transparent;
	}
}
.button {
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	border: 2px solid;
	padding: 10px 20px;
	&:hover {
		color: #000;
	}
}
/*::::::::::::::::::::::::::::::::::::
   Main Menu
::::::::::::::::::::::::::::::::::::*/
.navbar-custom {
	.navbar-nav {
		.nav-link {
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			&:hover {
				color: #f3ac12;
			}
		}
		.nav-link.active {
			color: #f3ac12;
		}
	}
}
body.o_connected_user {
	.navbar-fixed-top {
		padding-top: 35px !important;
	}
}
.dropdown-menu {
	background-color: #f3ac12;
	border: 0px;
	border-radius: 0px;
}
