@font-white: #FFF;
@color-primary: #976a08;

// Font Mixins

.script-font() {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.heading-font() {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

// Background Cover Mixin

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

//Show editingbar of odoo
#oe_main_menu_navbar {
    z-index: 10000;
}

//Hide header menu when editing
body.editor_enable .navbar-custom {
    z-index: -1;
}


.bg-overlay {
    position: relative;
    z-index: 1;
    display: block !important;
}

.section-padding {
    padding: 100px 0;
}

.bg-img {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}





// Contact Area 


.contact-form {
    padding: 60px;
    box-shadow: 0 0 10px #ccc;
}

.contact-form .form-control {
    background-color: #f8f9fa;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 0;
}

.contact-form .form-control:active {
    box-shadow: 0 0 0;
    background-color: #f8f9fa;
}


.contact-form textarea.form-control {
    height: 140px;
}

input:-webkit-autofill {
    background-color: #f8f9fa;
    border: none;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.form-control::-ms-input-placeholder {
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control::-moz-placeholder {
    color: #fff;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.form-control::placeholder {
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
    outline: 0;
}

.form-btn .button {
    margin: 0;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3S;
    transition: .3S;
}

.form-btn .button:hover {
    color: #000;
    background-color: #f3ac12;
}

.form-message {
    margin-top: 15px;
    font-weight: 700;
}

.form-message.error {
    color: #f00;
}

.form-message.success {
    color: #000;
}

// Login Area

.form-control {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #fff;
    border-radius: 0;
    height: 40px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.loginpage .form-control {
    border: 2px solid #fff;
}

.loginpage a.btn-link {
    color: #fff !important;
    padding: 11px;
}

.oe_login_buttons .button {
    background-color: transparent;
}

.button {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid;
    padding: 10px 20px;
}

.button:hover {
    color: #976a08;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
