<div style="margin-left:100px;margin-right:100px;">
<h2>Description</h2>
Sets the database up as a saas client<br/>
1.  Creates a template user which will become the user that signs up for a system<br/>
2. Sets up some precautions to prevent a saas database from compromising the server<br/>
<ul>
<li>Hides super admin user and partner records</li>
<li>Prevents deleting security records which hide the super admin</li>
<li>Prevents unistalling oerp_saas_client module</li>
<li>Disable app store</li>
</ul>
</div>