/*::::::::::::::::::::::::::::::::::::
   Pesquisa Parceiro 
::::::::::::::::::::::::::::::::::::*/
#partner_left .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::-ms-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::-moz-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#partner_left .form-control::placeholder {
    color: #8c8c8c;
}

#partner_left .form-control.selectpicker {
    color: #8c8c8c;
}

#partner_left .form-control {
    color: #8c8c8c;
}
/*::::::::::::::::::::::::::::::::::::
   Registo 
::::::::::::::::::::::::::::::::::::*/

#registo .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::-ms-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::-webkit-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::-moz-placeholder {
    color: #8c8c8c;
}

#registo .form-control:-ms-input-placeholder {
    color: #8c8c8c;
}

#registo .form-control::placeholder {
    color: #8c8c8c;
}

#registo .form-control.selectpicker {
    color: #8c8c8c;
}

#registo .form-control {
    color: #8c8c8c;
}

.process-step .btn:focus{outline:none}
.process{display:table;width:100%;position:relative}
.process-row{display:table-row}
.process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
.process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-order:0}
.process-step{display:table-cell;text-align:center;position:relative}
.process-step p{margin-top:4px}
.btn-circle{width:70px;height:70px;text-align:center;font-size:12px;border-radius:50%}