/* Medium Layout: 1280px. */

@media only screen and (min-width: 1201px) {

    /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav>.active>a {
        border-radius: 3px;
    }
    
    .navbar-custom.affix {
        background-color: white;
        padding: 10px 0;
    }    
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }   

    .navbar-brand.logo img {
        max-height: 120px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav>.active>a {
        border-radius: 3px;
    }
    
    .navbar-custom.affix {
        background-color: white;
        padding: 10px 0;
    }    
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }   

    .navbar-brand.logo img {
        max-height: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav>.active>a {
        border-radius: 3px;
    }
    
    .navbar-custom.affix {
        background-color: white;
        padding: 10px 0;
    }    
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }    
     
    .navbar-brand.logo img {
    max-height: 80px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Hero Area 
    ::::::::::::::::::::::::::::::::::::*/
    .hero-content h2 {
        font-size: 50px;
    }
    /*::::::::::::::::::::::::::::::::::::
       About Area
    ::::::::::::::::::::::::::::::::::::*/
    .about-content {
        margin-top: 30px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Service Section
    ::::::::::::::::::::::::::::::::::::*/
    .service-area::before {
        height: 100%;
    }

    /*::::::::::::::::::::::::::::::::::::
       Frequently asked questions
    ::::::::::::::::::::::::::::::::::::*/
    .faq-content {
        margin-top: 15px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Call to Action Area
    ::::::::::::::::::::::::::::::::::::*/
    .cta-button {
        text-align: left;
        margin-top: 15px;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /*::::::::::::::::::::::::::::::::::::
       Section Title
    ::::::::::::::::::::::::::::::::::::*/
    .section-title h2 {
        font-size: 24px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
    .navbar-custom {
        background-color: #000;
    }


    /*::::::::::::::::::::::::::::::::::::
       Hero Area 
    ::::::::::::::::::::::::::::::::::::*/
    .hero-aria,
    .hero-area-slids,
    .single-slider {
        height: 440px;
    }
    .hero-content h2 {
        font-size: 30px;
    }

    .hero-content h3 {
        font-size: 15px;
        margin: 15px 0;
    }

    .hero-aria::after {
        width: 80%;
    }
    .hero-content {
        max-width: 70%;
    }

    /*::::::::::::::::::::::::::::::::::::
       Featured Area
    ::::::::::::::::::::::::::::::::::::*/
    .single-featured-item-wrap h3 {
        font-size: 20px;
    }
    .featured-icon {
        font-size: 40px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Portfolio Section
    ::::::::::::::::::::::::::::::::::::*/
    .work-list ul li {
        margin-bottom: 5px;
    }
    .portfolio-hover h4 {
        font-size: 18px;
    }

    /*::::::::::::::::::::::::::::::::::::
       About Area
    ::::::::::::::::::::::::::::::::::::*/
    .about-content {
        margin-top: 30px;
    }
    .about-content h2 {
        font-size: 24px;
    }
    .about-content h4 {
        font-size: 16px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Service Section
    ::::::::::::::::::::::::::::::::::::*/
    .service-area::before {
        height: 100%;

    }

    .single-service h2 {
        font-size: 24px;
    }

    .service-icon {
        font-size: 45px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Frequently asked questions
    ::::::::::::::::::::::::::::::::::::*/
    .faq-content {
        margin-top: 15px;
    }
    .single-faq h4 {
        padding-right: 60px;
        font-size: 16px;
    }


    /*::::::::::::::::::::::::::::::::::::
       Blog Section
    ::::::::::::::::::::::::::::::::::::*/
    h4.blog-title {
        font-size: 16px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Call to Action Area
    ::::::::::::::::::::::::::::::::::::*/
    .cta-button {
        text-align: left;
        margin-top: 15px;
    }



    /*::::::::::::::::::::::::::::::::::::
       Why choose Me Section
    ::::::::::::::::::::::::::::::::::::*/
    .single-why-me h4 {
        font-size: 20px;
    }
    .why-me-right .why-me-icon,
    .why-me-left .why-me-icon {
        position: relative;
        height: 100px;
    }
    .single-why-me.why-me-right,
    .single-why-me {
        padding: 0;
        text-align: center;
    }

    /*::::::::::::::::::::::::::::::::::::
       Team Section
    ::::::::::::::::::::::::::::::::::::*/
    .single-team {
        max-width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Pricing Area
    ::::::::::::::::::::::::::::::::::::*/
    .single-price-box {
        max-width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Contact Area 
    ::::::::::::::::::::::::::::::::::::*/
    .contact-form {
        padding: 15px;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {


    /*::::::::::::::::::::::::::::::::::::
       Main Menu
    ::::::::::::::::::::::::::::::::::::*/
    .navbar-custom {
        background-color: #000;
    }


    /*::::::::::::::::::::::::::::::::::::
       Hero Area 
    ::::::::::::::::::::::::::::::::::::*/
    .hero-content h2 {
        font-size: 50px;
    }

    .hero-content h3 {
        font-size: 20px;
        margin: 15px 0;
    }

    .hero-aria::after {
        width: 70%;
    }
    .hero-content {
        max-width: 65%;
    }
    /*::::::::::::::::::::::::::::::::::::
       Portfolio Section
    ::::::::::::::::::::::::::::::::::::*/
    .work-list ul li {
        margin-bottom: 5px;
    }

    /*::::::::::::::::::::::::::::::::::::
       About Area
    ::::::::::::::::::::::::::::::::::::*/
    .about-content {
        margin-top: 30px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Service Section
    ::::::::::::::::::::::::::::::::::::*/
    .service-area::before {
        height: 100%;
    }

    /*::::::::::::::::::::::::::::::::::::
       Frequently asked questions
    ::::::::::::::::::::::::::::::::::::*/
    .faq-content {
        margin-top: 15px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Call to Action Area
    ::::::::::::::::::::::::::::::::::::*/
    .cta-button {
        text-align: left;
        margin-top: 15px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Team Section
    ::::::::::::::::::::::::::::::::::::*/
    .single-team {
        width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
    /*::::::::::::::::::::::::::::::::::::
       Pricing Area
    ::::::::::::::::::::::::::::::::::::*/
    .single-price-box {
        width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }

    /*::::::::::::::::::::::::::::::::::::
       Contact Area 
    ::::::::::::::::::::::::::::::::::::*/
    .contact-form {
        padding: 30px;
    }
}
