
.oe_kanban_cro_avatars img {
    width: 30px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.oe_form_gantt_avatars:after {
  font-family: "mnmliconsRegular" !important;
  font-size: 21px;
  font-weight: 300 !important;
  content: "y";
  top: 3px;
  position: relative;
}

.openerp .oe_kanban_view .oe_kanban_cro {
  width: 250px;
  min-height: 160px !important;
  cursor: default;
}

.openerp .oe_percent strong:after {
  content: "%";
}

.openerp .oe_margin_top_8 {
  margin-top: 8px;
}
.openerp .oe_kanban_cro .oe_kanban_cro_list .col-md-6 a{
  margin-left: 5px;
}

/* Kanban status as label in cro stage form view */
.openerp label.oe_cro_kanban_legend {
  min-width: inherit !important;
  margin-top: 6px;
  margin-right: 8px;
}

.progress-bar-success {
    background-color: #00a09d;
}

/* The ribbons */

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#EE4433 0%, #e43 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #e43;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #e43;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #e43;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #e43;
}

.ribbon-content{
    position: relative; 
  
}
.ribbon.base {
    background: #3498db;
    color: #fff;
}
.ribbon.light {
    background: #ecf0f1;
    color: #2c3e50;
}
.ribbon.dark {
    background: #131313;
}
.ribbon.base-alt {
    background: #9cd70e;
    color: #fff;
}
.ribbon.red {
    background: #e91b23;
    color: #fff;
}
.ribbon.orange {
    background: #ff8a3c;
    color: #fff;
}
.ribbon.yellow {
    background: #ffd800;
    color: #fff;
}